# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs
.history
.idea
.vscode
node_modules

# MacBook
.DS_Store

# Temporary test files (solo file temporanei di test)
test-query.json
tenant-s343424-ns.yaml